<div>1. Pure textarea</div>
<textarea placeholder="入力してください"></textarea>

<div>2. ReactiveForms textarea</div>
<ng-container [formGroup]="form">
  <textarea placeholder="入力してください" formControlName="text"></textarea>
</ng-container>

<div>3. 2 + cdkTextareaAutosize</div>
<ng-container [formGroup]="form">
  <textarea
    placeholder="入力してください"
    cdkTextareaAutosize
    formControlName="text"
  ></textarea>
</ng-container>

<div>4. 3 + cdkAutosizeMinRows</div>
<ng-container [formGroup]="form">
  <textarea
    placeholder="入力してください"
    cdkTextareaAutosize
    cdkAutosizeMinRows="4"
    formControlName="text"
  ></textarea>
</ng-container>

<div>5. 4 + inputMode</div>
<ng-container [formGroup]="form">
  <textarea
    placeholder="入力してください"
    cdkTextareaAutosize
    cdkAutosizeMinRows="4"
    formControlName="text"
    [inputMode]="'text'"
  ></textarea>
</ng-container>

<router-outlet />
